{#
/**
 * Block Name: Divider with Squiggle Block
 *
 * This is the template that displays the Tab block.
 *
 * Variables:
 * - content
 *  - tab_title
 *  - tab_items (repeater)
 *    - heading
 *    - column_text  (description field)
 *    - column_image
 *    - cta_button
 *      - cta_link
 *      - cta_text
 * - block
 *  - id
 * - is_preview
 */
#}
{# Process Fields #}

{# Build Attributes #}
{% set id = 'divider-with-squiggle-id--' ~ block.id %}
{% set classes = 'divider-with-squiggle' %}

<!-- Divider with Squiggle -->
{% block tabs %}
<div class="{{ classes }} {{ content.background }}" id="{{ id }}">
	{% if content.heading  %}
	<div class="divider-with-squiggle__heading top-space">
		<div class="container px-lg-5 pt-5">
			<div class="row">
				<div class="col-12 text-center">
					<h2>{{ content.heading }}</h2>
					{% if content.sub_heading  %}
						<h3 class="icons-subheading">{{ content.sub_heading }}</h3>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
