{#
/**
* Partial: Single CTA
*
* Original 'Group' pulled from Hero Area's 'Single CTA' (hero_block.cta)
* See '/images/Icon_Library_Screenshot.png' for options
*/
#}

{% set cta_link = cta_link|default('') %}
{% set cta_class = cta_class|default('') %}

<a class="{{ cta_class }}" href="{{ cta_link.cta_link.url }}" title="{{ cta_link.cta_link.title }}" target="{% if cta_link.cta_link.target %}{{ cta_link.cta_link.target }}{% else %}_self{% endif %}">
	{% if cta_link.cta_text %}
		{{ cta_link.cta_text }}
	{% else %}
		{{ cta_link.cta_link.title }}
	{% endif %}
</a>
