{# 404 Navigation #}
{% if error_navigation %}
	{% set parent_menu = 'error' %}

	<nav id="error-menu" role="navigation" class="menu-error-menu-container">
		<ul id="menu-error-menu" class="menu-error-navigation">
			{% for nav_item in nav_items %}
				<li id="error-menu-item-{{ nav_item.id }}" class="nav-error-item {{ nav_item.classes|join(' ') }}">
					<a class="nav-error-link caption-all-caps-bold" href="{{ nav_item.link }}" target="{{ nav_item.target }}">{{ nav_item.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
