{% set featured_image = post.meta('featured_image') %}
{% set insight_date = post.meta('insight_date') %}
{% set author = post.meta('author') %}
{% set download_file = post.meta('download_file') %}
{% set hero_block = post.meta('hero_block') %}

<div class="container-fluid p-0">
	<div class="hero single-insight" style="background-image: url('{{ featured_image.url }}');">
		<div class="hero__inner container">
			{% block breadcrumbs %}
				{% if breadcrumbs %}
					<div class="row">
						<div class="col-12 pt-2 text-left">
							<div class="breadcrumbs">{{ breadcrumbs }}</div>
						</div>
					</div>
				{% endif %}
			{% endblock %}
			<div class="hero__caption row px-5 px-2 text-center">
				<div class="col-12 pt-lg-5 single-insight__information">
					<hgroup>
						<h1 class="display-4 text-white mb-lg-5">{{ post.title }}</h1>
						<p class="insight-date">{{ insight_date|date("M d, Y") }}</p>
					</hgroup>
					<p class="text-white mb-lg-5">{{ hero_block.content }}</p>
					<div class="author">
						{% set author_image = function('get_the_post_thumbnail', author.ID) %}
						{{ author_image }}
						<span>{{ author.post_title }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="hero__bottom">
			<div class="hero__bottom__download-share-buttons">
				<div class="buttons">
					{% if download_file %}
						{% include 'partial/download-article-button.twig' with { "gf_form_id": '1' } %}
					{% endif %}
					{% include 'partial/social-share.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>
