{% extends "base.twig" %}

{% block content %}

	<section class="featured-insight">
		<div class="container">
			<div class="row pt-5 pb-5">
				<div class="col-12 col-lg-6 text-left">
					<img src="{{ featured_insight.featured_image }}" />
				</div>
				<div class="col-12 col-lg-6 ps-lg-4">
					<div class="featured-insight__tags">
						<div class="featured-insight__tags__tag featured">Featured</div>
						{% if featured_insight.tag %}
							<div class="featured-insight__tags__tag primary">{{ featured_insight.tag }}</div>
						{% endif %}
					</div>
					<a href="{{ featured_insight.link }}"><h3>{{ featured_insight.title }}</h3></a>
					<p>{{ featured_insight.excerpt }}</p>
					<div class="row">
						<div class="col-12 col-lg-6 featured-insight__footer">
								{% if featured_insight.author %}
									<div class="author">
										{{ featured_insight.author_image }}
										<span>{{ featured_insight.author.post_title }}</span>
									</div>
								{% endif %}	
								{% if featured_insight.date %}
									<div class="card__date">{{ featured_insight.date|date("M Y") }}</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="listing-pages">
		<div class="container">

			{% include 'partial/filters.twig' with { "post_type": 'insights' } %}

			{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

		</div>
	</section>
{% endblock %}
