{#
	Card: Default Layout

	Fields:
		- Image Option: Enable, Disable, or Big Image
		- Show Term(s) Option: Enable or Disable
		- Summary Option: Enable or Disable
		- Featured Image
		- Taxonomy: What taxonomy to sort by
		- Card Title
		- Card Link
		- Card Link Text (via 'Link Override')

		TODO: Rewrite ground-up for Pluribus
#}

<div class="card-person position-relative">
	{% block content %}
		{{ featured_image }}
		<div class="card-body">
			<h3 class="name">{{ first_name }} {{ last_name }}</h3>
			<p class="job-title">{{ job_title }}</p>
			{% if bio_link is not empty %}
				<a class="stretched-link" href="{{ bio_link }}" target="_self">BIO</a>
			{% endif %}
		</div>
	{% endblock %}
</div>