{#
/**
 * Block Name: People List
 *
 * This is the template that displays the People List block.
 *
 * Variables:
 * - heading
 *  - description
 *  - cta
 *  - background image
 * - block
 *  - id
 * - is_preview
 */
#}
{# Process Fields #}

{# Build Attributes #}
{% set id = 'people-list-id--' ~ block.id %}
{% set classes = 'people-list px-3 px-md-5 pt-4' %}

<!-- CTA With Background Image -->
{% block people_list %}
<section class="{{ classes }}{% if block.className %} {{ block.className }}{% endif %}" id="{{ id }}">
	<div class="container">
		{# Header Area #}
		<div class="row">
			<div class="col-12 text-center">
				{% if content.heading or content.description %}
					{% if content.heading %}
						<h2>{{ content.heading }}</h2>
					{% else %}
						{# Maintaining an Accessible Heading #}
						<h2 class="visually-hidden">People Block</h2>
					{% endif %}
					{% if content.description %}
						<p class="people-list__description">{{ content.description }}</p>
					{% endif %}
				{% else %}
					{# Maintaining an Accessible Heading #}
					<h2 class="visually-hidden">People Block</h2>
				{% endif %}
			</div>
		</div>

		{# Content #}
		<div class="row">
			<div class="col-12 text-center">
				<ul class="people-list__list">
					{% for person in content.people_list %}
						{% set post = person.person %}
						{% set first_name = function('get_field', 'first_name', post.ID) %}
						{% set last_name = function('get_field', 'last_name', post.ID) %}
						{% set job_title = function('get_field', 'job_title', post.ID) %}
						{% set bio_link = function('get_field', 'bio_link', post.ID) %}
						{% set featured_image = function('get_the_post_thumbnail', post.ID) %}
						<li class="people-list__list__person position-relative">
							<div class="image-wrapper">
							<a class="people-list__list__person__icon-link" href="{{ bio_link }}" target="_self">
								{{ featured_image }}
							</a>
							</div>
							<h3 class="name">{{ first_name }} {{ last_name }}</h3>
							<p class="job-title">{{ job_title }}</p>
							{% if bio_link is not empty %}
								<a class="stretched-link" href="{{ bio_link }}" target="_self">BIO</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}