<div class="container-fluid p-0">
	<div class="hero bio" style="background-image: url('/wp-content/themes/riva-wp/images/bg-hero-no-image.jpg');">
		<div class="hero__inner container">
			<div class="hero__caption row px-5">
				{% block breadcrumbs %}
					{% if breadcrumbs %}
						<div class="row">
							<div class="col-12 pt-2 text-left">
								<div class="breadcrumbs">{{ breadcrumbs }}</div>
							</div>
						</div>
					{% endif %}
				{% endblock %}
				<div class="col-lg-12 pt-3 text-center">

					<img src="{{ bio_featured_image }}" class="bio-featured-image" />

					<h1 class="display-4 text-white mb-3 bio-h1">
						{% if hero_block.headline %}
							{{ hero_block.headline }}
						{% else %}
							Landing Page No Image
						{% endif %}
					</h1>
					<p class="text-white mb-5">
						{% if hero_block.content %}
							{{ hero_block.content }}
						{% else %}
							Team RIVA is on a mission to power solutions for better government supporting DoD, Civilian, DHS, and Intel agencies.
						{% endif %}
					</p>
					{% if hero_block.cta_button and '' != hero_block.cta_button.cta_link %}
						<a class="btn btn-primary rounded-pill bio-linkedin" href="{{ hero_block.cta_button.cta_link.url }}" title="{{ hero_block.cta_button.cta_link.title }}" target="{% if hero_block.cta_button.cta_link.target %}{{ hero_block.cta_button.cta_link.target }}{% else %}_self{% endif %}">
							<img src="/wp-content/themes/riva-wp/images/icons/icon-li.png" class="bio-icon-linkedin" />
						</a>


					{% endif %}

					{% if hero_block.cta_email_button and '' != hero_block.cta_email_button.cta_email_link %}
						<a class="btn btn-primary rounded-pill bio-linkedin bio-email" href="{{ hero_block.cta_email_button.cta_email_link.url }}" title="{{ hero_block.cta_email_button.cta_email_link.title }}" target="{% if hero_block.cta_button.cta_link.target %}{{ hero_block.cta_button.cta_link.target }}{% else %}_self{% endif %}">
							<img src="/wp-content/themes/riva-wp/images/icons/icon-bio-email.png" class="bio-icon-linkedin" />
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
