{% set social_media = options.footer_settings.social_media %}

<!-- Main navigation may be omitted, if appropriate to the site -->
{% if main_navigation %}
	{# {{ function('do_shortcode', '[gtranslate]') }} #}
	<div class="collapse navbar-collapse" id="main_nav">
		<ul class="navbar-nav ms-auto">
			{% for nav_item in nav_items %}
				<li class="nav-item {% if nav_item.children %} dropdown {% endif %}">

					
					<a class="nav-link {{ nav_item.class }} {% if nav_item.title == 'Contact Us' %} contact-us {% endif %}" href="{{ nav_item.link }}" {% if nav_item.children %} data-bs-toggle="dropdown" {% endif %}>{{ nav_item.title }}</a>
					{% if nav_item.children %}
						<ul class="dropdown-menu">
							{% for child_item in nav_item.children %}
								<li>
									<a class="dropdown-item" href="{{ child_item.link }}">
										{{ child_item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>

			{% endfor %}
		</ul>
	</div>

	<nav class="navbar d-lg-none" id="offCanvasNav">
		<div class="container-fluid">
			<div class="navbar-offcanvas offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" aria-hidden="true">
				<div class="offcanvas-header">
					<a href="#" class="navbar-offcanvas__contact-us">Contact Us</a>
					<div class="close-button">
						<span class="text-close">Close</span>
						<div class="button-wrap">
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
					</div>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						{% for nav_item in nav_items %}
							<li class="nav-item">
								<a class="menu-item" href="{{ nav_item.link }}" {% if nav_item.children %} data-bs-toggle="collapse" data-bs-target="#collapse-{{loop.index}}" aria-expanded="false" {% endif %}>
									<span class="menu-item__title">{{ nav_item.title }}</span>
									{% if nav_item.children %}
									<div class="collapse-expand-buttons">
										<span></span>
										<span></span>
									</div>
									{% endif %}
								</a>
								{% if nav_item.children %}
									<div class="collapse" id="collapse-{{loop.index}}" style="">
										<ul class="collapsed-menu">
											{% for child_item in nav_item.children %}
												<li>
													<a class="collapsed-item" href="{{ child_item.link }}">
														{{ child_item.title }}</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
					
					<!-- SOCIAL ICONS -->
					<ul class="social-networks">
						{% for social in social_media %}
							<li class="social-networks__link">
								<a href="{{ social.link }}" title="{{ social.icon }}" target="_blank">
									<img src="/wp-content/themes/riva-wp/images/icons/icon-{{ social.icon ~ '.svg' }}" alt="{{ social.icon|capitalize }} Icon">
									<span class="visually-hidden">Visit us on {{ social.icon|capitalize }}!</span>
								</a>
							</li>
						{% endfor %}
					</ul>

				</div>
			</div>
		</div>
	</nav>
{% endif %}
