{#
/**
 * Block Name: Text & Image
 *
 * This is the template that displays the example block.
 *
 * Variables:
 * - content
 *  - background_color
 *  - layout
 *  - image
 *  - heading
 *  - content (description field)
 *  - cta (cta button field)
 * - block
 *  - id
 *  - className
 * - is_preview
 */
#}

{% set classes = 'block module module--text-image container py-3 py-md-5 mb-2' %}
{% set layout = content.layout %}

{% if layout == 'left' %}
	{% set layout_classes = 'flex-lg-row gap-2 justify-content-md-between' %}
{% else %}
	{% set layout_classes = 'flex-lg-row-reverse gap-2 justify-content-lg-between' %}
{% endif %}

{% block repeat_content %}
	<section id="{{ block.id }}" class="{{ classes }} {{ block.className ? block.className : '' }} image-{{ layout }}" class="container">
		<div class="d-flex flex-column {{ layout_classes }}">
			<div class="col-12 col-lg-6 text-left">
				<div class="module--text-image--image">
					<img src="{{ content.image.url }}" alt="{{ content.image.alt }}" />
				</div>
			</div>
			<div class="col-12 col-lg-6 mt-5 mt-lg-0 justify-content-center d-flex flex-column text-left">
				<hgroup>
					<h2>{{ content.heading }}</h2>
					{% if content.kicker_text is not empty %}
						<p class="kicker">{{ content.kicker_text }}</p>
					{% endif %}
				</hgroup>
				<p>{{ content.content }}</p>
				{% if content.cta.cta_link.url is not empty %}
					<a class="align-self-start" href="{{ content.cta.cta_link.url }}" title="{{ content.cta.cta_link.title }}" target="{% if content.cta.cta_link.target %}{{ content.cta.cta_link.target }}{% else %}_self{% endif %}">
						{% if content.cta.cta_text %}
							{{ content.cta.cta_text }}
						{% else %}
							{{ content.cta.cta_link.title }}
						{% endif %}
					</a>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
