{#
/**
 * Block Name: CTA With Background Image
 *
 * This is the template that displays the Testimonial block.
 *
 * Variables:
 * - heading
 *  - description
 *  - cta
 *  - background image
 * - block
 *  - id
 * - is_preview
 */
#}
{# Process Fields #}

{# Build Attributes #}
{% set id = 'cta-with-background-image-id--' ~ block.id %}
{% set classes = 'cta-with-background-image' %}

<!-- CTA With Background Image -->
{% block cta_with_background_image %}
<div class="{{ classes }}{% if block.className %} {{ block.className }}{% endif %}" id="{{ id }}">
	{# Attach Background Image, converted to WebP #}
	{% if content.background_image and '' != content.background_image %}
		{% include 'cta-with-background-image-styles.twig' with { 'image' : content.background_image } %}
	{% endif %}

	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>{{ content.heading }}</h2>
				<p>{{ content.description }}</p>
			</div>
		</div>
		{% if content.cta_link.cta.url is not empty %}
			<div class="row">
				<div class="col-12 text-center">
					<a class="btn btn-primary rounded-pill" href="{{ content.cta_link.cta.url }}" title="{{ content.cta_link.cta.title }}" target="{% if content.cta_link.cta.target %}{{ content.cta_link.cta.target }}{% else %}_self{% endif %}">
						{% if content.cta_link.cta_text is not empty %}
							{{ content.cta_link.cta_text }}
						{% else %}
							{{ content.cta_link.cta.title }}
						{% endif %}
					</a>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}